h1 {
  font-size: 50px;
  color: lightblue;
}
h2 {
  font-size: 45px;
  color: gray
}
h3 {
  font-size: 40px;
  color: white
}
h4 {
  font-size: 35px;
  color: lightgray;
}
h5 {
  font-size: 30px;
  color: lightblue;
}
h6 {
  font-size: 25px;
  color: tan;
}
p {
  font-size: 25px;
  color: tan;
}
li {
  font-size: 25px;
  color: white;
}
ul {
  font-size: 25px;
  color: #0099ff;
}
a:visited {
  font-size: 25px;
    color: #005ce6;
}
backgroundcolor{
  color: #99ddff;
}

.click{
  margin-left: 50%;
  margin-right: 50%;
}

#image_container {
  display: inline-flex;
  margin-left: 41%;
  margin-right: 41%;
  align-items: center;
}

.child {
  flex: 1;
  width: 30%;
  height: 30%;
}

button {
  background-color: #555555; /* Black */
}
